<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' /> <!-- importação do css bootstrap offline -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- utilizar o meta para ajustar em diversas telas (Design Responsivo) -->
  </head>
  <body>
    <div class="container mt-4">
      {{{body}}}
    </div>
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script> <!-- importação do js bootstrap -->
  </body>
</html>
